@import "../../colors.scss";


.container {    
    border-radius: 8px;
    padding: 14px 29px;
    cursor: pointer;
    border: none;
}

.fill {
    background-color: $lightInfoColor;
    color: $primaryColor;
}

.fill:hover:enabled {
    background-color: $primaryHoverColor;
    color: #fff;
}

.fill:active:enabled {
    background-color: $primaryColor;
    color: #fff;
}

.fill:disabled {
    background-color: $backgroundPrimaryColor;
    color: $secondaryTextColor;
    cursor: not-allowed;
}



.outline {
    background-color: white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
}

.outline:hover:enabled {
    background-color: white;
    border: 1px solid $primaryColor;
    color: $primaryTexst;
}

.outline:active:enabled {
    background-color: white;
    color: #fff;
}

.outline:disabled {
    color: $secondaryTextColor;
    cursor: not-allowed;
}